{
	"token": "",
	"prefix": "",
	"employeeRole": "",
	"botOwners": [""],
	"channels": {
		"ticketChannel": "",
		"deliveryChannel": "",
		"feedbackChannel": "",
		"tipChannel": "",
		"testChannel": "",
		"guildLogChannel": ""
	},
	"db": {
		"dbHostname": "",
		"dbUsername": "",
		"dbPassword": "",
		"dbName": ""
	},
	"botlists": {
		"discordbotsToken": "",
		"discordpwToken": "",
		"discordlistToken": "",
		"listcordToken": ""
	}
}
