{
	"token": "",
	"dbHostname": "",
	"dbUsername": "",
	"dbPassword": "",
  "dbName": "",
	"employeeRole": "",
	"botOwners": [""],
	"ticketChannel": "",
	"deliveryChannel": "",
	"feedbackChannel": "",
	"tipChannel": "",
	"testChannel": "",
	"guildLogChannel": "",
	"prefix": "!"
}
